@keyframes fadeOutToRight {
    0% {
        transform: translateX(-20px);
    }
    100% {
        transform: translateX(1000px);
        opacity: 0;
    }
}

@keyframes fadeOutToLeft {
    0% {
        transform: translateX(20px);
    }
    100% {
        transform: translateX(-1000px);
        opacity: 0;
    }
}

@keyframes fadeOutToUp {
    0% {
        transform: translateY(20px);
    }
    100% {
        transform: translateY(-1000px);
        opacity: 0;
    }
}

/* @keyframes fadeOutToDown {
    0% {
        transform: translateY(-20px);
    }
    100% {
        transform: translateY(1000px);
        opacity: 0;
    }
} */
@keyframes fadeOutToDown {
    0% {
        transform: translateY(-20px);
    }
    50% {
        transform: scale(1.5) translate(-50%, -50%);
        fill: red;
    }
    100% {
        transform: translate(-60vw, -100vh);
        /* opacity: 0; */
    }
}

@keyframes fadeInToDown {
    0% {
        left: 0;
        top: -2000px;
    }
    50% {
        transform: translateY(400px);
    }
    100% {
        /* transform: translateY(400px); */
        left: 0;
        opacity: 1;
    }
}

.fade-out-to-right {
    animation: 1.5s fadeOutToRight ease 0s forwards;
}

.fade-out-to-left {
    animation: 1.5s fadeOutToLeft ease 0s forwards;
}

.fade-out-to-up {
    animation: 1.5s fadeOutToUp ease 0s forwards;
}

.fade-out-to-down {
    animation: 3s fadeOutToDown ease 0s infinite forwards;
}

.fade-in-to-down {
    animation: 1.5s fadeInToDown ease 0s forwards;
}